
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
 font-family: 'Open Sans', sans-serif;
  }

/*Top section*/
header{
  align-items: center;
  background-color: #e5f3f2;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
}

span {
  color: #00a79d;
  font-family: 'Roboto Slab', serif;
}

.main-title {
  color: #6d6e71;
  font-size: 4rem;
  padding-top: 2%;
}

.title-input,
.body-input,
.save-button,
.search{
  display:block;
  font-size: 2rem;
  height: 6vh;
  margin:20px auto;
  margin: 1% 0%;
  width: 50%;
}

::placeholder {
  color: #939598;
}

.body-input {
  display:block;
  margin:10px auto;

}

.save-button {
  background-color: #00a79d;
  color: white;
}

/*Bottom section*/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.search {
  margin-top: 2%;
}


.idea-card-section {
  border-bottom: solid;
  border-color: #d1d3d4;
  border-width: 2px;
  width: 50%;

  
}

.example {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  width: 200%;
}

.idea-title {
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 2%;
}

p {
  color: #939598;
}

div {
  display: inline-block;
}

.user-quality  {
  color: #6d6e71;
  display: inline-block;
  /*padding: 43px 4px;*/
}




